body {
    background-color: black;
    color: white;
}

div
{
    z-index: -1;
}
.wrapper {
    position: absolute;
    z-index: -1;
}

.jumbotron {
    background-color: orange;
}

.display-4 {
    color: black;
}

#submit {
    border: 5px solid black;
}

.item {
    padding: 3px;
    position: relative;
    display: inline-table;
    z-index: -1;
}

.img {
    position: absolute;
    z-index: 1;
}

.container-fluid {
    position: relative;
    display: block-axis;
    z-index: -1;
}
